{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock %}</title>
        
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
        <link rel="stylesheet" type="text/css" href="../static/css/base.css">
        <link rel="stylesheet" type="text/css" href="../static/css/about.css">
        <link rel="stylesheet" type="text/css" href="../static/css/contact.css">
        <link rel="stylesheet" type="text/css" href="../static/fontawesome/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="../static/css/apply.css">
        <link rel="stylesheet" type="text/css" href="../static/css/donate.css">


     

    </head>
    <body >
        <!-- Nav Bar -->
        <header>


            <nav class="navbar_">
                <div class="logo">
                    <img src="../static/whitered2.png" alt="logo" width="60" height="60" class="logo-img" />
                    <h1>Junior Hands Assocation </h1>
                </div>
                
                <div class="hamburger">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                <ul class="nav-links">
                    <li><a href="{% url 'app:home' %}"
                        {% if request.path == "/" %}
                        class="current"
                        {% endif %}>Home</a></li>
                    <li><a href="{% url 'app:about' %}"
                        {% if request.path == "/about/" %}
                        class="current"
                        {% endif %}>About</a></li>
                    <li><a href="{% url 'app:contact' %}"
                        {% if request.path == "/contact/" %}
                        class="current"
                        {% endif %}>Contact</a></li>
                    <li><a href="{% url 'app:donate' %}"
                        {% if request.path == "/donate/" %}
                        class="current"
                        {% endif %}>Donate</a></li>
                    
                    
                </ul>
            </nav>
        </header>
        <div id="content", name="content">
            {% block content %}
            {% endblock %}
        </div>

            
 
          <footer>

          
            <section class="contacts">
                
              <a href="https://www.instagram.com/thejuniorhands/" target="_blank"><img src="../static/insta.png" width="55" height="55" alt="insta"></a>
              <a href="https://twitter.com/thejuniorhands" target="_blank"><img src="../static/twitter.png" width="55" height="55" alt="twitter"></a>
              <a href="https://www.instagram.com/thejuniorhands/" target="_blank"><img src="../static/facebook.png" width="55" height="55" alt="facebook"></a>
 
            </section>
            <section class="links">
              <a href="{% url 'app:home' %}">HOME</a>
              <a href="{% url 'app:about' %}">ABOUT</a>
              <a href="{% url 'app:contact' %}">CONTACT</a>
           
            </section>
            <section class="section-links">
                <a href="{% url 'app:home' %}#upcoming">Upcoming</a>
                <a href="{% static 'By-laws.pdf' %}" target="_blank">By Laws</a>
                <a href="{% url 'app:contact' %}#emailus">Email</a>
                <a href="{% url 'apply:apply' %}">Apply</a>
            </section>
            <button> <a href ="#" >Donate </a></button>


           
        </footer>
       

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script>

        $(window).scroll(function(){
            if($(window).scrollTop() ){
                $("nav").addClass("sticky");
                $("a.current").addClass("current-2")
            }
            else{
                $("nav").removeClass("sticky");
                $("a.current").removeClass("current-2")


            }
        })
    </script>
    <script>
        const hamburger = document.querySelector('.hamburger');
        const navLinks = document.querySelector('.nav-links');
        const links = document.querySelectorAll('.nav-links li');
        const logo = document.querySelector('.logo')
             hamburger.addEventListener('click', () => {
                 navLinks.classList.toggle('open');
                 logo.classList.toggle('open');
             })
   </script>    
  <script>
      const nodis = document.querySelector('.nodis');
      const dropButton = document.querySelector('.drop-button');
      const hidText = document.querySelector('.text-hid');
      const icon = document.querySelector('.drop-button i');
      let name = hidText.className;
        dropButton.addEventListener('click', ()=> {
                hidText.classList.toggle('visible');
                dropButton.classList.toggle('drop-clicked');
                icon.classList.remove('rotate');
                icon.offsetWidth;
                icon.classList.add('rotate');
        })
        nodis.addEventListener('click', ()=> {
                if (!(name.includes('visible'))){
                    hidText.classList.toggle('visible');
                    dropButton.classList.toggle('drop-clicked');
                    icon.classList.remove('rotate');
                    icon.offsetWidth;
                    icon.classList.add('rotate');
                }
        })
        
  </script>
  <script>
      const youth = document.querySelector('.youth');
      const dropButton2 = document.querySelector('.drop-button2');
      const hidText2 = document.querySelector('.text-hid2');
      const icon2 = document.querySelector('.drop-button2 i');
        dropButton2.addEventListener('click', ()=> {
                hidText2.classList.toggle('visible');
                dropButton2.classList.toggle('drop-clicked');
                icon2.classList.remove('rotate');
                icon2.offsetWidth;
                icon2.classList.add('rotate');
               
                
        })
        youth.addEventListener('click', ()=> {
                hidText2.classList.toggle('visible');
                dropButton2.classList.toggle('drop-clicked');
                icon2.classList.remove('rotate');
                icon2.offsetWidth;
                icon2.classList.add('rotate');
        })
  </script>
    </body>
</html>