{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}JHA - Contact{% endblock %}
{% block content %}

<h1 class="contact-us">Contact Us</h1>
<p class="contact-message-sub">Share your <span class="accent">thoughts</span>, <span class="accent">ideas</span>, or <span class="accent">opinions</span></p>
<div class="contact-body">
   
    
        
</div>
<h1 class="contact-message-header">We Need <span style="color:rgb(255, 81, 81);">Feedback!</span></h1>
<p class="contact-message">In order to impact the community, we need to hear from you.</p>

<div class="contact-section-parent" id="emailus">
    <form class="contact-form" action="" method="POST">
        <h1 class="contact-title">Quick Contact</h1>
        {% csrf_token %}
        <p>Your data will not be stored in any databases after your message has been sent.</p>
        <h1>Full Name</h1>
        <section>

            <div>
                {{ form.firstName|add_class:"c-name"|attr:"placeholder: Ex. John" }}
                <label>First</label>
            </div>
            <div>
                {{ form.lastName|add_class:"c-name"|attr:"placeholder: Ex. Smith" }}
                <label>Last</label>
            </div>
            
        </section>
        <h1>Email</h1>
        {{ form.email|attr:"placeholder: Ex. email@example.com" }}
        <h1>Subject</h1>
        {{ form.subject|attr:"placeholder: Ex. Event Opportunity" }}
        <h1>Message</h1>
        {{ form.message|attr:"placeholder: Ex. My Message" }}
        
        
        <input class="contact-btn" type="submit" value="Send Message">
        {% if messages %}
        <div class="alert alert-success" role="alert" style="width: 20em;margin: 0 auto;text-align:center;">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
        {% endif %}
    </form>
    <div class="contacts-col">
        <h2>Find Us</h2>
        <section>
            <i class="far fa-paper-plane fa-3x"></i>
            <h1>Email</h1>
            <p>thejuniorhands@gmail.com</p>

        </section>
        <section>
            <i class="fas fa-phone-alt fa-3x"></i>
            <h1>Phone</h1>
            <p>502-240-9793</p>
            
        </section>
        <section>
            <a href="https://www.instagram.com/thejuniorhands/" target="_blank"><i class="fab fa-instagram fa-4x"></i></a>
            <h1>Instagram</h1>
            <p>@thejuniorhands</p>
            
        </section>
        <section>
            <a href="https://twitter.com/thejuniorhands" target="_blank"><i class="fab fa-twitter fa-4x"></i></a>
            
            <h1>Twitter</h1>
            <p><a href="">@thejuniorhands</a></p>
            
        </section>
        <section>
            <a href="https://www.facebook.com/Junior-Hands-Association-102088245579172" target="_blank"><i class="fab fa-facebook fa-4x"></i></a>
            
            <h1>Facebook</h1>
            <p>@thejuniorhands</p>
            
        </section>
        <div class="cont-apply">
            <h1>Want to do more than messaging?</h1>
            <h2>Apply to become a member and help us organize events. </h2>
            <form>
                <button formaction="{% url 'apply:apply' %}" >Apply</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}