{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>JHA - Events</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
        <link rel="stylesheet" type="text/css" href="../static/css/events.css">
        <link rel="stylesheet" type="text/css" href="../static/fontawesome/css/all.min.css">
    </head>

    <body>
        
        <div class="parent" id="upcoming">
            <div class="upcoming-header">
                <div>
                    <a class="back" onClick="history.go(-1)"><i class="fas fa-arrow-circle-left fa-3x back-i" ></i></a>
                    <a class="back-link" onClick="history.go(-1)">Go Back</a>
                </div>
                

                <h1 class="upcoming-title" style="color: dimgray;font-weight: 100;"> Upcoming Events </h1>
            </div>
            <div class="upcoming">
                
                {% if events %}
                    {% for event in events %}
                    
                    <div class="event">
                        <div class="date">
                            <h2> {{event.month}}</h2>
                            <h2> {{ event.day }}</h2>
                        </div>
                        
                        <div class="info">
                            <h2 class="event-name"> {{ event.eventName }}</h2>
                            <h2> {{event.location}}</h2>
                            <h2>{{ event.time }}</h2>
                        </div>
                        
                        <button class="learn-btn" aria-label="{{ forloop.counter }}" >Learn More</button>
                        <div  class="modal" aria-label="{{ forloop.counter }}">

                            <!-- Modal content -->
                            <div class="modal-content">
                              <span class="close" aria-label="{{ forloop.counter }}">&times;</span>
                              <h1 class="modal-title">{{ event.eventName }}</h1>
                              <div>

                                <p>{{event.month}} {{ event.day }}</p>
                                <p> {{ event.time }}</p>
                                <p> {{ event.location }} </p>
                              </div>
                              <p class="desc">{{ event.desc }}</p>
                              <button class="learn-btn" style="margin-top: 1.5em; margin-left: 0;">Volunteer</button>
                            </div>
                           
                          
                          </div>
                    </div>
                    
                    {% endfor %}
                {% else %}
                <h1 class="no-event"> No Events </h1>
                {% endif %}

            </div>
        </div>
       
    </body>
    <script>
        
        window.onload = function() {
                let btns = document.getElementsByClassName("learn-btn");
                let modals = document.getElementsByClassName("modal");
                let spans = document.getElementsByClassName("close");
                console.log(modals);
                for (let i = 0; i < btns.length; i++) {
                        let currentbtn=btns[i];
                        let currentmodal = document.querySelectorAll('[aria-label="' + btns[i].getAttribute('aria-label') + '"]')[1];
                        console.log(currentmodal);
                        currentbtn.addEventListener("click", function() {
                                console.log(i, currentmodal);
                                if (currentmodal.getAttribute("aria-label") == currentbtn.getAttribute("aria-label")){
                                    console.log(i);
                                    currentmodal.style.display = "block";
                                
                            }
                        
                        });
                    } 
                
                

                for (let i = 0; i<spans.length; i++) {
                        spans[i].addEventListener("click", function() {

                                if (modals[i].getAttribute("aria-label") == spans[i].getAttribute("aria-label")){
                                    console.log(i)
                                
                                    modals[i].style.display = "none";
                                
                            }
                        
                        });     
                    }
                }
            
    </script>
    
</html>