{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>JHA - Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    </head>
    <body>
        <!-- Nav Bar -->
        <header>


            <nav class="navbar">
                <div class="logo">
                    <img src="../static/whitered2.png" alt="logo" width="60" height="60" class="logo-img" />
                    <h1>Junior Hands Association </h1>
                </div>
                
                <div class="hamburger">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                <ul class="nav-links">
                    <li><a href="{% url 'app:home' %}"
                        {% if request.path == "/" %}
                        class="current"
                        {% endif %}>Home</a></li>
                    <li><a href="{% url 'app:about' %}"
                        {% if request.path == "/about/" %}
                        class="current"
                        {% endif %}>About</a></li>
                    <li><a href="{% url 'app:contact' %}"
                        {% if request.path == "/contact/" %}
                        class="current"
                        {% endif %}>Contact</a></li>
                    <li><a href="{% url 'app:donate' %}"
                        {% if request.path == "/donate/" %}
                        class="current"
                        {% endif %}>Donate</a></li>
                    
                </ul>
            </nav>
       <!-- Hero Text -->
         <div class="text-container">
            <h1>We Are The <span>Change.</span></h1>
            <a href="{% url 'apply:apply' %}"><button class="apply-btn"> Apply Now</button></a>
            
            
        </div>


        

        </header>
     

        <!-- mission statement  -->
        <div id="weare" class="mission">

            <h2>Who We Are</h2>
            <p>
                The Junior Hands Association is a newly formed registering 501c3 organization that’s determined to help fix the injustices in modern day education. We see deep rooted injustice in marginalized populations all around us and we hope to fix at least one aspect of that through our educational programs and services. We are resolved in our mission to foster healthy communities that always have access to the educational materials they need to prosper. By focusing on student-led activism we hope to promote ideals that linger beyond generations. The Junior Hands Association seeks to be a leading nonprofit in advocating for socioeconomic, racial, and gender equality through education platforms.
            </p>
        </div>
        <div class="help-parent" >

            <h1>Support Us</h1>
            
                <div class="you-help">
                    <a class="linkwrapper" href="{% url 'app:home' %}#upcoming">        
                        <div>
                            <section class="header">
                                <img src="../static/getInvolved.png" width="100" height="100" />
                                <h2>Get Involved</h2>

                            </section>
                                <p>Nam vehicula tristique iaculis. Donec ornare mauris placerat, ornare dolor ullamcorper, scelerisque justo. Nulla gravida vestibulum arcu nec vehicula. Pellentesque ullamcorper sed risus eleifend dignissim.
                                </p>    
                        
                        </div>
                    </a>
                    <a class="linkwrapper" href="{% url 'apply:apply' %}">
                        <div>
                
                            <section class="header">
                                <img src="../static/join_us.png" width="100" height="100" />
                                <h2>Join Us</h2>

                            </section>

                                <p>Nam vehicula tristique iaculis. Donec ornare mauris placerat, ornare dolor ullamcorper, scelerisque justo. Nulla gravida vestibulum arcu nec vehicula. Pellentesque ullamcorper sed risus eleifend dignissim.
                                </p>    
                        
                        </div>
                    </a>
                    <a class="linkwrapper" href="#">
                        <div>
                            <section class="header">
                                <img src="../static/donateicon.png" width="100" height="100" />
                                <h2>Donate</h2>

                            </section>
                                <p>Nam vehicula tristique iaculis. Donec ornare mauris placerat, ornare dolor ullamcorper, scelerisque justo. Nulla gravida vestibulum arcu nec vehicula. Pellentesque ullamcorper sed risus eleifend dignissim.
                                </p>    
                        
                        </div>
                    </a>

            </div>      
        </div>
        <!-- Member Application Section-->
        
        <!-- mission statement -->
        <div class="parent" id="upcoming">
            <h1> Upcoming Events </h1>
            <a class="events-link" href="{% url 'app:events' %}"> See Full Events Page </a>
            <div class="upcoming">
                
                {% if events %}
                    {% for event in events %}
                   
                    <div class="event">
                        <div class="date">
                            <h2> {{event.month}}</h2>
                            <h2> {{ event.day }}</h2>
                        </div>
                        
                        <div class="info">
                            <h2 class="event-name"> {{ event.eventName }}</h2>
                            <h2> {{event.location}}</h2>
                        </div>
                    </div>
                    
                    {% endfor %}
                {% else %}
                <h1 class="no-event"> No Events </h1>
                {% endif %}

            </div>
            
        </div>
        <footer>

        
            <section class="contacts">
                
                <a href="https://www.instagram.com/thejuniorhands/" target="_blank"><img src="../static/insta.png" width="55" height="55" alt="insta"></a>
              <a href="https://twitter.com/thejuniorhands" target="_blank"><img src="../static/twitter.png" width="55" height="55" alt="twitter"></a>
              <a href="https://www.instagram.com/thejuniorhands/" target="_blank"><img src="../static/facebook.png" width="55" height="55" alt="facebook"></a>
            </section>
            <section class="links">
                <a href="{% url 'app:home' %}">HOME</a>
                <a href="{% url 'app:about' %}">ABOUT</a>
                <a href="{% url 'app:contact' %}">CONTACT</a>
            
            </section>
            <section class="section-links">
                <a href="{% url 'app:home' %}#upcoming">Upcoming</a>
                <a href="{% static 'By-laws.pdf' %}" target="_blank">By Laws</a>
                <a href="{% url 'app:contact' %}#emailus">Email</a>
                <a href="{% url 'apply:apply' %}">Apply</a>
            </section>
            <button> <a href ="#" >Donate</a></button>


            <br></br>
        </footer>
       

        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script>

            $(window).scroll(function(){
                if($(window).scrollTop() ){
                    $("nav").addClass("sticky");
                    $("a.current").addClass("current-2")
                }
                else{
                    $("nav").removeClass("sticky");
                    $("a.current").removeClass("current-2")
    
    
                }
            })
        </script>
        <script>
             const hamburger = document.querySelector('.hamburger');
             const navLinks = document.querySelector('.nav-links');
             const links = document.querySelectorAll('.nav-links li');
             const logo = document.querySelector('.logo')
             hamburger.addEventListener('click', () => {
                 navLinks.classList.toggle('open');
                 logo.classList.toggle('open');
             })
        </script>
    </body>
</html>
