body {
    background: transparent;
}
.heading {

    margin-top: -6em;
    margin-bottom: -7em;
    width: 100%;
    height:44em;
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    color: white;
    
    background: url(../graduation.jpg);
    background-repeat: no-repeat;
    background-position: center -10em;
    background-size: cover;
    
    background-attachment: fixed;
    
   
}
.heading h1 {
    font-size: 60px;
    text-align: center;
    color: #ffffff;
    font-weight: 400;
    text-shadow: 5px 5px 1px gray;
    
}

.heading p {
    text-align: center;
    text-shadow: 3px 3px 1px gray;
}
.motivation {
   
    margin-bottom:75px;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    position: relative;
    top: 10px;
   
    
    
}
.motivation span {
    color: #ff6c6c;
    text-shadow: 5px 5px 30px rgb(255, 173, 173);
    
}
.we-title {
    color: rgb(175, 163, 163);
    font-size: 5em;
    font-weight: 500;
    margin-top: 2em;
    text-align: center;
    display: none;
}
.we-do {
    margin: 2em 0 8em 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    column-gap: 6em;
    flex-wrap: wrap;

   
    
}

.we-do div {
    
    color: black;
    width: 10%;

 
 
    
}


.we-do div div {
    
    transition: 1s;
    width: 9em;
    height: 9em;
    margin: 1em auto;
    border-radius: 50%;
    border: 7px solid rgb(255, 255, 255);
    background-color: rgb(204, 204, 204);
    font-size: 1em;
}
.we-do div div:hover {
  
    cursor: pointer;
    transition: 1s;
    height: 10em;
    width: 10em;
}
.we-do div p {
    font-weight: 100;
    text-align: center;
    margin-bottom: 1em;
    
    color: dimgray;
}

.ms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: middle;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(89, 91, 100);
    padding: 3% 10%;
    box-shadow: 0 0 100px -100px black;

}
.ms article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin-right: 5%;
}
.ms div {
    margin-top: 6em;
    width: 12em;
    height: 12em;
  
}
.ms img {
    width:100%;
    max-height:100%;
}

.ms h2, .ms p {
    line-height: 1.5;
    
    font-weight: 100;
}

.ms h2 {
    margin-bottom: 1.5em;
    font-size: 2em;
}

.sup-parent {
    background: rgb(235, 235, 235);
    
    padding: 2% 0 6% 0;
}

.drop-button {
    transition: .3s;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-size: .9em;
    margin: 0 auto;
    border: 3px #ffffff solid;
    background-color:rgb(223, 106, 106);
    width: 60%;
    height: 10vh;
   
    padding: 0 2%;

}
.drop-button2 {
    transition: .3s;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-size: .9em;
    margin: 0 auto;
    border: 3px #ffffff solid;
    background-color: rgb(223, 106, 106);
    width: 60%;
    height: 10vh;
  
    padding: 0 2%;

}
.drop-button:hover {
    transition: .5s ease-in-out;
    cursor: pointer;
    background-color:rgb(248, 128, 128);
}
.drop-button2:hover {
    transition: .5s ease-in-out;
    cursor: pointer;
    background-color:rgb(248, 128, 128);
}

.drop-button h3 {
    font-weight: 400;
}
.drop-button i {
    transition: 1s;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(180deg);
    }
}

.drop-button i.rotate, .drop-button2 i.rotate {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 500ms;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 250ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
.drop-button2 h3 {
    font-weight: 400;
}
.drop-button2 i {
    transition: 1s;
}
.text-hid {
    display: none;
}
.text-hid2 {
    display: none;
}
.text-hid.visible {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    color: black;
    font-weight: 100;
    margin: 25px auto;
    padding: 1%;
  
}
.text-hid.visible p {
    margin-bottom: 1em;
}
.text-hid2.visible {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    color: black;
    font-weight: 100;
    margin: 25px auto;
    padding: 1%;
  
}

.sup-title {
    color:rgb(53, 66, 82);
    font-weight: 400;
    text-align: center;
    margin: 2em auto;
}

@media screen and (max-width: 930px){
    .ms h2{
        text-align: center;
    }
    .ms article {
        width: 90%;
        margin: 3em auto;
    }
    .ms {
        padding: 3em 1em;
    }
    .ms div {
        margin-top: 1em;
        width: 10em;

    }
}
@media screen and (max-width: 800px) {
  .heading h1 {
      font-size: 30pt;
  }
  .heading p {
      font-size: 10pt;
  }
  .motivation {
      font-size: 35pt;
  }

  .motivation{
      font-size:15pt;
  }
  .we-do div{
    width: 25%;
    box-sizing: border-box;
  }
  .we-do div div {
      height: 6em;
      width: 6em;
  }

  .we-do div p {
      font-size: 1em;
  }
  .we-do {
    column-gap: 4em;
    margin: 8em 0 5em 0;
 
  }
  .ms p {
      font-size: .9em;
  }
  .text-hid.visible, .text-hid2.visible {
      width: 80%;
  }
  .drop-button, .drop-button2 {
      width: 95%;
  }
  .drop-button h3, .drop-button2 h3 {
      font-size: 1em;
  }
  .text-hid.visible, .text-hid2.visible {
      padding:0;
  }

}