
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
    
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-weight: 100;
}

header {

    background: url(../about-hero.jpg);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: transparent;
    letter-spacing: 1px;
    height: 1000px;
    width: 100%;
    background-attachment: fixed;
}

.navbar a {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-decoration: none;
    
    transition: all 1s ease 0s;
    color: white;
    
    
    
    

}
.apply-btn:hover {
    transition: .3s;
    border-radius: 10px;
    border: 3px solid #dfd9d9;
    background-color: transparent;
}

.current {
    transition: 1s;
    border-radius: 6px;
    background-color: #ef5455;
    
}

.current-2{
    transition: 1s;
    border-radius: 6px;
    background-color: #ef5455;
}




.navbar a:visited {
    
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navbar a:hover {
    text-decoration: none;

}

.navbar li {
    
   
    
    list-style: none;
    display: inline-block;
}



.navbar h1{
    margin-top: 5px;
    font-size: 20px;
    font-weight: 100;
}

.navbar ul {
    
    right: 0px;
}

.navbar {
    transition: .5s;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    color: white;
    position: fixed;
    top: 0;
    padding: 30px 5%;
    height: 95px;
    width: 100%;
    
    
}
.nav-links {
   
    display: flex;
    flex-wrap: nowrap;
   
}




.text-container {
    display: flex;
    flex-direction: column;
    padding: 5%;
    align-items: center;
    color: white;
    
    margin-top: 55px;
    left: 200px;
    row-gap: 40px;
    width: 100%;
    top: 400px;

}



.text-container h1{
    
    text-align: center;
    font-weight: 800;
    font-size: 58px;
}
.text-container h1 span {

    font-weight: 600;
    color: #ef5455;
}
.text-container p{
    text-shadow: 2px 2px 1px rgb(255, 117, 117);
    text-align: center;
    font-size: 20px;
    
}


.mission {
   


    color: rgb(51, 51, 51);
    background-color: #ffffff;
    width: 100%;
    height: auto;
    padding: 50px 10%;
    
    
}

.mission h2 {
    margin-top: 30px auto;
    text-align: center;
    font-size: 35px;
    font-weight: 100;
    color: #ef5455;
}

.mission p{
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    color: #000000;
    font-weight: 100;
    line-height: 1.5;
}
.logo {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 18px;
    align-items: center;
    flex-direction: row;
    width:auto;
    margin-left: 0;
    
  
}
img {
    max-width: 100%;
    height: auto;
}
nav.sticky{
    position: fixed;
    color: black;
    background-color: rgb(255, 255, 255);
    transition: .5s;
    border-bottom: 1px solid gray;
}
nav.sticky a {
    color: rgb(0, 0, 0);
}
nav.sticky a:visited {
    color: rgb(0, 0, 0);
}


nav.sticky h1 {
    color: black;
}




.help-parent {
  
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background:rgb(235, 235, 235);
    color: rgb(221, 221, 221);
   
    
}
.help-parent h1 {
    font-weight: 100;
    text-align: center;
    font-size: 45px;
    color: rgb(167, 167, 167);

    
}
.you-help {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 100px;
    margin-bottom: 2em;
    justify-content: center;
    align-items: center;

    
}
.you-help div {
    transition: 1s;
    
    border: 2px solid #ffffff;
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;
    width: 20em;
    height: 32em;
    column-gap: 5px;
    background:  rgb(255, 255, 255);
    border-radius: 2%;
    
   
  
    
   
}
.you-help div:hover {
    padding: 0 1em;
    width: 22em;
    
    transition: .5s;
    cursor:pointer;
    border: 2px solid #ffa4a4;
}
.you-help div img {
    margin-top: 2em;
    background:rgb(233, 138, 138);
    padding: 2%;
    border-radius: 45%;
}
.you-help div h2{
    color: rgb(148, 148, 148);
    border-bottom:1px solid rgb(119, 119, 119);
  
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 100;
}
.you-help div p{
 
    
    font-size: 18px;
    text-align: center;
   
   
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 40px 30px;
    color: rgb(150, 150, 150);
    line-height: 1.5;
   
    
    font-weight: 100;
    
}

.you-help .header {
    
    display: flex;
    flex-direction: column;
 
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: none;
    margin-bottom: 0;
 
    display: flex;
    
    align-items: center;

  
 
}
.apply-parent {
    border-top: .5px dashed rgb(250, 250, 250);
    width: 100%;
    background:rgb(247, 247, 247);
}
.app-sec {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    padding: 2em 0em;
    align-items: center;
    justify-content: center;
    color: black;



}
.app-sec-right {
    width: 50%;
    padding: 0 5%;
}
.app-sec img {
    height: 20em;
    border-radius: 1%;
    
}

.app-sec div button {
    transition: 1s;
    width: 10em;
    height: 3em;
    background:rgb(255, 91, 91);
    border: none;
    color: white;
    font-weight: bold;
}
.app-sec div button:hover{
    transition: 1s;
    cursor: pointer;
    background:rgb(255, 139, 139);
    width: 12em;
    height: 3.5em;
}

.app-btn-parent {

    width: 8em;
    
}
.app-sec div div {
    
    
    text-align: left;
}

.app-sec div h1 {
    font-size: 2em;
    font-weight: 300;

}
.app-sec div p {
  
}
.parent {
 
  
    margin: 25px 0;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    width: 100%;
    
    background-color: rgb(255, 255, 255);
   
    
}
.parent h1 {
    font-size: 3rem;
    font-weight: 100;
    color: #ef5455;
    margin: 1em 0;
    text-align: center;
}
.upcoming {
    width: 600px;
    padding: 2%;
  

  
}
.event {
    transition: 1s;
    display: flex;
    flex-direction: row;
   
    
    align-items: center;
    justify-content: center;
   
    width: 99%;
    position: relative;
  
    row-gap: 2%;
    border-top: 2px solid gray;
    margin: auto;
    padding: 20px;

}
.event:hover {
    transition: 1s;
    cursor: pointer;
    background:rgb(235, 235, 235);
    width: calc(99%+2em);
}
.date {
    transition: 1s;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 50%;
    background-color: #ef5455;
   
    width: 100px;
    height: 100px;
   
    justify-content: center;
    align-items: center;
    font-size: 8pt;
}
.date:hover {
    cursor: pointer;
    transition: .5s;
    background-color:rgb(255, 139, 139);
    border: 4px solid rgb(255, 113, 113);
}
.date h2 {
    color: white;
 
    font-weight: 300;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 300px;
    padding: 20px;
    gap: 20px;
    
    
    letter-spacing: 2px;
}
.info h2 {
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
}
.info .event-name {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}

footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height:300px;
    padding-top: 40px;
    background-color: #ef5455;
    align-items: center;
    row-gap: 10px;
    position: relative;
    bottom: 0;
  
  }
  
  footer a {
    margin: 20px;
    text-decoration: none;
    color: white;
    font-size: .8em;
    letter-spacing: 2px;
  
  }
  .links {
      display: flex;
      flex-wrap: nowrap;
  }
  
  
  
  
  .contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
   
    
  }
  
  .contacts a {
      margin: 0;
  
  }
  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    row-gap: 4px;
    height: auto;
    color: black;
    background-color: #d7dbe0;
  }
  
  footer button {

    font-weight: bold;
    margin-top: 15px;
    background-color: transparent;
    border-color: white;
    color: white;
    width: 140px;
    height: 35px;
    border-radius:10px;
    font-size:15px;
    letter-spacing: 2px;
    border-style: solid;
  }
  footer button a:visited:hover{
      color: none;
  }
  footer button a:visited{
      color:unset;
  }
  footer button:hover{
    transition: 0.5s;
    cursor: pointer;
    color: black;
    background-color: white;
    
  }





@media screen and (max-width: 800px) {

    nav.sticky {
        background: none;
        border: 0;
    }
    nav.sticky a {
        color: white;
    }
    nav.sticky a:visited {
        color: white;
    }
    .line {
        width: 30px;
        height: 3px;
        background:  rgb(194, 99, 99);
        margin: 5px;
    }
    
    .nav-links {
        top: 0;
        position: fixed;
        background-color: rgb(255, 255, 255);
        
        height: auto;
        width: 100%;
        flex-direction: column;
        gap: 50px;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease;
        justify-content: center;
        align-items: center;
        overflow: hidden;

    }
    .nav-links li a {
        font-size: 18px;
        color: white;
    }
    .nav-links.open li a {
        
        border: 1px solid gray;
        border-radius: 15px;
        color: black;
        font-weight: 900;
    }
    .nav-links.open li a:hover {
        background: #fa8c8c;
    }
    .nav-links.open {
        display: flex;
        
        clip-path: circle(1500px at 90% -10%);
        -webkit-clip-path: circle(1500px at 90% -10%);
    }
    
    .logo {
        display: none;
    }
    .logo.open {
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
        z-index: 2;
        width: 100%;
    }
    
    .hamburger {
        position: absolute;
        cursor: pointer;
        z-index: 2;
       
        
    }
    .nav-links li {
        width: 50%;
       
    }
    header{
        
        
        width: 100%;
        flex-direction: column;
        
    }
    .logo h1 {
        display: none;
    }
    
    
    .event {
        flex-wrap: wrap;
    }
    .nav-links{
        position: fixed;
        width: 100%;
        height: 100vh;
        display: none;
    }

    .text-container {
        margin-left: 20px;
        margin-top: 250px;
        height: 100%;
        width: 50%;
    }
    .text-container p {
        font-size: 14pt;
    }
    .text-container h1 {
        font-size: 40pt;
    }
    .mission h2 {
        font-size: 30pt;
    }
    .mission p {
        font-size: 12pt;
    }
    .upcoming {
        width: auto;
    }
    
    .app-sec img {
       display: none;
        
    }
    .app-sec div {
        padding: 0;
    }
    .app-btn-parent {
        width: 8em;
        margin: 0 auto;
    }
    .app-sec div h1, .app-sec div p {
        text-align: center;
    
    }
}
