{% extends 'base.html' %}
{% block title %}JHA - About{% endblock %}
{% block content %}

<div class="heading">
    <h1>ABOUT US</h1>
    <h2 class="motivation">Fostering a better educational environment through student-driven activism.</h2>
   
</div>
<h1 class="we-title">What We Do?</h1>
<section class="we-do">
    
    <div>
        <div>
            <a href="{% url 'app:home' %}#weare">
                <img src="../static/kentucky.png" alt="kentucky">
            </a>
        </div>
     
        <p>We are an association based in Louisville, Kentucky </p>
    </div>
    <div>
        <div>
            <a href="#ms">
                <img src="../static/scholar.png" alt="scholar">
           </a>
          
        </div>
       
        <p>We aim improve the educational environment for everyone</p>
    </div>
    <div>
        <div>
            <a class="nodis" href="#sup">
                <img src="../static/nodiscrim.png" alt="no-discrim">
            </a>
          
        </div>
      
        <p>We seek to serve our community without discrimination</p>
    </div>
    <div>
        <div>
            <a class="youth" href="#sup">
                <img src="../static/student.png" alt="student">
            </a>
          
        </div>
       
        <p>We strive through student organized activism </p>
    </div>
    
</section>
<section class="sup-parent" id="sup"> 
    <h1 class="sup-title">Supporting Our Community</h1>
    <section class="drop-button">
        <h3>Our Committment To The Youth</h3>
        <i class="fas fa-grip-lines"></i>
    </section>
    <article class="text-hid">
        <p>“The future of the world belongs to the youth of the world, 
            and it is from the youth and not from the old that the fire of life
            will warm and enlighten the world. It is your privilege to breathe the 
            breath of life into the dry bones of many around you.” - Tom Mann
        </p>
        <p>
            Support for the youth is the foundation on which the ideals of the 
            Junior Hands Association were built upon. The Junior Hands Association 
            firmly believes in the new generation of leaders and their ability to tackle 
            the grave pitfalls of modern society. We aim to tackle the deep seated roots of 
            oppression and maltreatment but we can’t do it without the next generation. It is
            only with their help that we can start to break and claw at the never-ending waves 
            of unfairness and inequality that’re ever so present throughout our communities. 
            Without the shining light and passion that all of the youth share together our 
        </p>

        <p>With all that being said it is with great pride that we pronounce our unwavering commitment to the youth and all the hopes and dreams that stand beside them. </p>
    </article>
    <section class="drop-button2" id="youth">
        <h3>Our Commitment To Marginalized Groups</h3>
        <i class="fas fa-grip-lines"></i>
    </section>
    <article class="text-hid2">
        <p>Unfortunately, many of the youth we serve belong to marginalized communities. These are communities that our society and governments have cast aside or deemed unworthy of attention. But it is in these very communities that the youth with the most potential reside. In order to provide more to those in need, we made the decision that all of our programs and opportunities be free of charge and open to all members of society, regardless of where they come from. Our organization is committed to providing an equal chance to all youth. 

        </p>
    </article>
</section>
<div class="ms" id="ms" >
    <article>
        <h2>Vision Statement</h2>
        
        <p>The Junior Hands Association is a student-led organization that prides 
            itself in fostering a better environment for education. We provide 
            opportunities for high school students across Kentucky to connect with 
            their communities and improve the lives of their fellow peers. Volunteers 
            are encouraged to utilize their unique skill sets to better serve systematically 
            disadvantaged communities. By emphasizing student-driven activism, we hope to 
            improve the leadership, critical thinking, and creativity of our volunteers. With 
            the goal of improving the situations that impair education, we hope to forge a more 
            prepared generation of capable citizens.
        </p>
    </article>
    <div>
        <img src="../static/whiteflag.png" alt="flag" height="50" width="50">
    </div>
</div>
<div class="apply-parent" id="app-sec">
    <section class="app-sec">
        <div class="app-sec-right">
            <div >
            <h1>Becoming a member is only one click away</h1>
            </div>
            <p style="margin: 1em 0 2em 0;">Applying allows you to become eligible to volunteer and organize JHA events</p>
            
            <div class='app-btn-parent'>
                <form>
                    <button formaction="{% url 'apply:apply' %}" >Apply</button>
                </form>
                
            </div>

        </div>
        <img src="../static/redtree.png" />
    
    </section>
</div>










{% endblock %}